body {
    max-width: 200px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    height: 12vh;
    background-color: orange;
    justify-content: space-around;
}

#nav-ul {
    list-style: none;
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

footer {
    background-color: orange;
    text-align: center;
    color: white;
    padding: 16px;
}
