body{
    width: 200px;
    margin: 0;
    font-family:Helvetica, Arial, sans-serif;
}
#nav_ul > li {
    padding: 8px;
    margin: 16px;
}
body>header {
    display: flex;
    height: 12vh;
    background-color: orange;
}
body>footer {
    background-color: orange;
}
body>footer>p{
    padding: 16px;
    color: white;
    text-align: center;
}
